/* Überschriften */
h1 {
  font-size: 36px;
  text-align: center;
}

h2 {
  font-size: 24px;
}

/* Listen */
ul {
  list-style-type: disc;
  margin-left: 30px;
}

li {
  font-size: 18px;
  line-height: 1.5;
}

/* Absätze */
p {
  font-size: 18px;
  line-height: 1.5;
}

/* Bilder */
img {
  max-width: 100%;
  height: auto;
}

/* Design-Regeln */
body {
  font-family: 'Open Sans', sans-serif;;
  color: #EEE;
  background-color: black;
  padding: 30px;
}
